[user]
	name = Wiktor Macura
	email = wiktor@tumblr.com
	
[core]
	excludesfile = /Users/wiktor/.gitignore_global

[alias]
	ldiff = !"git diff origin/master..HEAD"

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
	
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[color]
	ui = true
[mergetool]
	keepBackup = true
